
# FVM Version Cache
.fvm/

# Secret environment files - NEVER commit these!
env.json
.env
*.env

# Flutter / Dart / Build Local
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDEs / Editor cache
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.log